<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097684528702-bfkrkvdneb45re52vgh4fmiu9ioko8su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097684528702-bfkrkvdneb45re52vgh4fmiu9ioko8su</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1097684528702-ajmo3m9ov8lgjbq5cdumd2nbpggr8cec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqyqR1y8N2XbIS3B1zSBZEdElYRqmSTVc</string>
	<key>GCM_SENDER_ID</key>
	<string>1097684528702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.improver.alba</string>
	<key>PROJECT_ID</key>
	<string>alba-ffb18</string>
	<key>STORAGE_BUCKET</key>
	<string>alba-ffb18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097684528702:ios:006b09e713386d4f302b6f</string>
</dict>
</plist>